<div class="mt-5">
  <div class="d-flex justify-content-center">
    <h1>Experiencias</h1>
    <app-button-crud class="mt-2 ms-3" [opcion]="'create'" [objetoUrl]="'experiencia'"></app-button-crud>
  </div>
  <div id="carouselExampleDark2" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button *ngFor="let experiencia of experiencias;let i = index" [ngClass]="{'active': i === 0}" type="button" data-bs-target="#carouselExampleDark2" [attr.data-bs-slide-to]="i" [attr.aria-label]="'Slide '+i"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let experiencia of experiencias;let i = index" [ngClass]="{'active': i === 0}" data-bs-interval="10000">
        <div class="card">
          <div class="card-header contendor-header-card">
            <h3 class="titulo-card">{{experiencia.organizacion}}</h3>
            <div class="contenedor-buttons-crud">
              <app-button-crud [opcion]="'edit'" [objetoUrl]="'experiencia/'+experiencia.id"></app-button-crud>
              <app-button-crud [opcion]="'delete'" [objetoUrl]="'experiencia/'+experiencia.id"></app-button-crud>
            </div>
          </div>
          
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-3 contenedor-imagen">
                <img src="{{experiencia.urlImagen}}">
              </div>
              <div class="col-md-9 ml-3">
                <div class="row mt-3">
                  <label for="puesto">Puesto: </label>
                  <input type="text" class="form-control" name="puesto" value="{{experiencia.puesto}}" disabled>
  
                </div>
                <div class="row mt-3">
                  <label for="tipoOrganizacion">Tipo de Organizacion: </label>
                  <input type="text" class="form-control" name="tipoOrganizacion"
                    value="{{experiencia.tipoOrganizacion.nombre}}" disabled>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <p>{{experiencia.descripcion}}</p>  
            </div>
            <div class="row">
              <p class="card-text text-muted">{{experiencia.anioDesde}}  - 
                <span *ngIf="experiencia.anioHasta==null; else notnull">ACTUALIDAD</span><ng-template #notnull>{{experiencia.anioHasta}}</ng-template></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button *ngIf="experiencias.length>1" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    
    <button *ngIf="experiencias.length>1" class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next" >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    
  </div>
</div>


