<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <div class="card">
                <div class="card-header contendor-header-card text-center">
                    <h3 class="titulo-card">Formacion</h3>
                </div>
                <div class="card-body">
                    <form method="post" #formacionForm="ngForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                        <div class="row mt-3">
                            <div class="col-9 ">
                                <label for="organizacion">Organización: </label>
                                <input type="text" class="form-control" id="organizacion" name="organizacion"
                                    [(ngModel)]="formacion.organizacion">
                            </div>
                            <div class="col-3 ">
                                <label for="tipoOrganizacion">Tipo de Organización: </label>
                                <select class="form-control" id="tipoOrganizacion" name="tipoOrganizacion"
                                    [(ngModel)]="formacion.tipoOrganizacion.id">
                                    <option *ngFor="let e of tiposOrganizaciones" [value]="e.id">{{e.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-8 ">
                                <label for="especialidad">Especialidad: </label>
                                <input type="text" class="form-control" id="especialidad" name="especialidad"
                                    [(ngModel)]="formacion.especialidad">
                            </div>
                            <div class="col-2 ">
                                <label for="anioDesde">Año desde: </label>
                                <input type="number" class="form-control" id="anioDesde" name="anioDesde"
                                    [(ngModel)]="formacion.anioDesde">
                            </div>
                            <div class="col-2 ">
                                <label for="anioHasta">Año hasta: </label>
                                <input type="number" class="form-control" id="anioHasta" name="anioHasta"
                                    [(ngModel)]="formacion.anioHasta">
                            </div>
                        </div>
                        <div class="row mt-3 align-items-center">
                            <div class="col-8">
                                <label for="urlImagen">URL Imagen: </label>
                                <input type="text" class="form-control" id="urlImagen" name="urlImagen"
                                    [(ngModel)]="formacion.urlImagen">
                            </div>
                            <div class="col-4 contenedor-imagen">
                                <img src="{{formacion.urlImagen}}">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <label for="descripcion">Descripción: </label>
                            <textarea class="form-control" id="descripcion" rows="5" name="descripcion"
                                [(ngModel)]="formacion.descripcion"></textarea>
                        </div>
                        <div class="row m-3">
                            <div class="col-md-6">
                                <a href="javascript:history.back()" class="btn btn-dark btn-md"
                                    style="width:100%">Volver</a>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary" type="submit" style="width:100%">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>